/* Importar Fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


.hero-bg {
   
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                      url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
}


.input-field {
    width: 100%;
    border: 1px solid #d1d5db; /* gray-300 */
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 0.875rem; /* text-sm */
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.input-field:focus {
    border-color: #eab308; /* yellow-500 */
    box-shadow: 0 0 0 1px #eab308;
}

/* Text Shadow suave */
.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.nav-link {
    font-size: 0.875rem;
    font-weight: 700;
}


#modal-overlay {
    transition: opacity 0.3s ease-in-out;
}

#modal-content {
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}


.hidden-modal {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.visible-modal {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-scale-in {
    transform: scale(1);
}

.modal-scale-out {
    transform: scale(0.9);
}